@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
  
*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: midnightblue;
}

body {
    width: 100%;
    height: fit-content;

    margin: 0px;

    text-align: center;

    background-color: aliceblue;

}

header {
    width: 100%;
    height: 57px;

    display: grid;


}


nav {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: start;
}

.ul_haeder {
    width: 100%;
    height: 57px;

    margin: 0%;
    padding: 0%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: white;
    opacity: 0.96;
    position: fixed;
}

.ul_haeder li {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: black;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

.ul_haeder a {
    text-decoration: none;
}

#li_home_page {
    padding: 12px;
    
    border-radius:12px;
    
    background-color:#ffff;
    color: #254975;
    border: 3px solid #254975;

    transition: all 200ms 0ms;
}


.ul_haeder img {
    width: 113px;
    height: 35px;
    position: absolute;
    left: 20px;
    z-index: 3;
}

h1 {
    width: 100%;
    height: 600px;

    margin: 0;
    padding: 50px 200px 50px 200px;

    color: white;

    background: url("../images/Polygon\ Luminary.svg");
    background-size: cover;

    font-size: 75px;
    font-family: 'Inter', sans-serif;

}





.hacker_blocker {
    width: 100%;

    margin-top: 185px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.hacker_blocker section {
    width: 586px;
    font-size: 25px;
    text-align: left;

    font-family: 'Lexend', sans-serif;
}

.hacker_blocker section p {
    margin-top: 36px;

    
    font-family: monospace;
    line-height: 1.2;
}

.div_hacker_blocker{
    width: 450px;
    padding: 0px;
    margin: 0px;
    display: grid;
    place-items: center;
}

.div_hacker_blocker img {
    width: 100%;
}






.cyber_alert {
    width: 100%;

    margin-top: 100px;

    display: flex;
    justify-content: space-evenly;
}

.cyber_alert section {
    width: 610px; 

    margin-top: 50px;
    text-align: left;
}

.cyber_alert section p {
    margin-top: 36px;

    text-align: left;
    font-size: 25px;
    font-family: monospace;
    line-height: 1.2;
}

.div_cyber_alert {
    width: 470px;
    padding: 0px;
    margin: 0px;
    display: grid;
    place-items: center;
}

.div_cyber_alert img {
    width: 100%;
}



.AI {
    width: 100%;

    margin-top: 100px;

    display: flex;
    justify-content: space-evenly;
}

.AI section {
    width: 600px;
    text-align: left;
}

.AI section p {
    margin-top: 36px;
    text-align: left;
    font-size: 27px;
    font-family: monospace;
    line-height: 1.2;
}

.div_ai {
    width: 490px;
    padding: 0px;
    margin: 0px;
    display: grid;
    place-items: center;
}

.div_ai img {
    width: 100%;
}




.hello {
    font-weight:700; 
    font-size: 40px;
}


.plans_cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 200px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.card_plan {
    width: 28%;
    height: 580px;
    border-radius: 15px;
    background-color: white;    
    box-shadow: 0px 8px 24px #959da533;
}

.top_part_card {
    padding-top: 16px;
    height: 190px;
    border-bottom: 3px solid aliceblue;
    font-family:'Inter', sans-serif;
}

.plan_type_common{
    width: 100%;

    margin: 0px;
    padding-left: 25px;
    padding-right: 25px;

    display: flex;
    justify-content: space-between;
}


.plan_type {    
    margin: 0%;
    font-size: 25px;

    text-align: left;
    color: black;
}

.plan_card_top {
    margin: 0px;
    padding-left: 25px;

    text-align: left;
}

    
.popular {
    width: 110px;
    height: fit-content;

    padding: 3px;

    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;

    box-shadow: 0px 10px 10px #959da533;

    background-color: #254975;
    color: white;
    font-weight: 600;

    cursor: default;
}



.price {
    width: 100%;
    height: fit-content;
    font-size: 40px;

    padding-left: 25px;
    padding-top: 10px;

    display: flex;

    font-weight: 700;
    color: black;
}

.price p {
    width: 100px;

    margin: 0px;
    padding-left: 15px;

    font-size: 20px;
    text-align: left;
    font-weight: 100;
    color: black;
}

.plan_offers {
    margin: 0px;
    margin-top: 16px;
    padding-left: 25px;
    padding-bottom: 45px;

    font-size: 13px;
    text-align: left;
    color: #282922;
}

.perchuse {
    width: 85.7432%;
    height: 31px;

    margin-top: 10px;

    border-radius: 5px;

    background-color: #ffff;
    border: 3px solid #254975;
    box-shadow: 0px 0px 10px #959da533;
    font-family:'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #254975;
    cursor: pointer;
    transition: all 200ms 0ms;
}

.fa-solid{
    padding: 13px;
    padding-right: 8px;
    padding-left: 25px;

    color: green;
}

.fa-xmark {
    color: red;
}

.label_plan_offer {
    width: 100%;
    display: block;
    margin: 7px 0px 7px 0px;

    font-size: 13px;
}



footer {
    width: 100%;
    height: 75px;
    margin-top: 150px;
    position: relative;
    display: grid;
    place-items: center;
    background-color:#282922;
}


.ul_footer {
    width: 100%;

    padding: 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ul_footer li {
    list-style: none;
}



.social_media{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
/*hovers*/

.perchuse:hover {
    width: 90%;
    height: 35px;

    background-color: #254975;
    border: 3px solid #254975;
    color: white;
}

#li_home_page:hover {
    padding: 10px;
    background-color: #254975;
    color: #ffff;
}





@media only screen and (max-width: 1262px) {
    .card_plan {
        width: 45%;
    }
}

@media only screen and (max-width: 800px){
    nav{
        height: 100px;
    }
}

@media only screen and (max-width: 792px){
    .ul_haeder img {
        display: none;
    }

    .hacker_cyber_alert {
        flex-direction: column;
    }
    .AI {
        flex-direction: column-reverse;
    }
    .hacker_cyber_alert_ai section {
        width: 99%;
        text-align: center;
    }

    .cyber_alert section p {
        text-align: center;
    }

    .AI section p{
        text-align: center;
    }

    .div_ai_hacker_elert_img {
        width: 100%;
    }

    #img1 {
        width: 50%;
    }
    #img2{
        width: 50%;
    }
    #img3{
        width: 50%;
    }
}

@media only screen and (max-width: 745px) {
    h1 {
        padding: 0px;
    }
    .plans_cards {
        flex-direction: column;
    }
    .card_plan {
        width: 90%;
    }
}

@media only screen and (max-width: 450px){
    h1 {
        height: 310px;
        font-size: 50px;
        display: grid;
        place-items: center;
        text-align: center;
    }

    .hello {
        font-size: 27px;
    }
    .cyber_alert section p {
        font-size: 18px;
    }

    .hacker_blocker section p {
        font-size: 18px;
    }
    .AI section p {
        font-size: 18px;
    }
}
@media only screen and (max-width: 410px) {
    .card_plan {
        width: 97%;
    }
}

@media only screen and (max-width: 365px){
    .fa-solid {
        padding-left: 10px;
    }
    .label_plan_offer , .plan_offers {
        font-size: 11px;
    }
}
